In [457]:
#import pandas as pd

In [459]:
df = pd.read_csv('/Users/md/Desktop/PL/py/PO/8LB/NationalNames.csv')

In [460]:
#3

In [461]:
df.columns

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

In [465]:
#4

In [467]:
print(df.describe())

                 Id          Year         Count
count  1.825433e+06  1.825433e+06  1.825433e+06
mean   9.127170e+05  1.972620e+03  1.846879e+02
std    5.269573e+05  3.352891e+01  1.566711e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.563590e+05  1.949000e+03  7.000000e+00
50%    9.127170e+05  1.982000e+03  1.200000e+01
75%    1.369075e+06  2.001000e+03  3.200000e+01
max    1.825433e+06  2.014000e+03  9.968000e+04

In [468]:
#5

In [471]:
unique_names_count = df['Name'].nunique()
print(unique_names_count)

93889

In [473]:
#8

In [475]:
most_popular_name = df.loc[df['Count'].idxmax()]

In [477]:
print(f"The name is '{most_popular_name['Name']}' in {most_popular_name['Year']}")

The name is 'Linda' in 1947

In [479]:
#9

In [481]:
min_count = df['Count'].min()

In [483]:
min_count_records = df[df['Count'] == min_count].shape[0]

In [485]:
print(min_count_records)

254615

In [487]:
#11

In [489]:
unique_names_per_year = df.groupby('Year')['Name'].nunique()

In [490]:
max_year = unique_names_per_year.idxmax()
max_unique_names = unique_names_per_year.max()

In [493]:
print(f"{max_year} {max_unique_names}")

2008 32488

In [495]:
#12

In [497]:
data_max_year = df[df['Year'] == max_year]

In [499]:
most_popular_name_max_year = data_max_year.groupby('Name')['Count'].sum().idxmax()

In [501]:
print(f"The most popular name in {max_year} is '{most_popular_name_max_year}'")

The most popular name in 2008 is 'Jacob'

In [503]:
#16

In [505]:
yearly_births = df.groupby('Year')['Count'].sum()

In [507]:
most_births_year = yearly_births.idxmax()

In [509]:
print(most_births_year)

1957